<include file="Public:header"/>
      	<div class="container-fluid-full">
		<div class="row-fluid">
		   <include file="Public:slider"/>
		   <div class="content">
                <div class="right-menu">
                	<p class="left"><i class="fa1 icon-home"></i>首页<i class="fa icon-angle-right"></i>Message</p>
                	<p class="right">2015-8-13 星期四</p>
                </div>
		   </div>
		</div>
		</div>
		<div class="clearfix"></div>
		<include file="Public:footer"/>
	</body>
</html>