      <div id="sidebar-left" class="span2 left">
        <div class="nav-collapse sidebar-nav">
          <ul class="nav nav-tabs nav-stacked main-menu">
            <li class="submenu"><a href=""><i class="fa icon-home"></i><span>首页管理</span></a></li> 
            <li class="submenu">
              <a class="dropmenu" href="#"><i class="fa icon-picture"></i><span>首页大图管理</span><span class="label label-important"> 3 </span></a>
              <ul style="display:block">
                <li><a href=""><i class="fa icon-angle-right"></i><span>添加图片</span></a></li>
                <li><a href=""><i class="fa icon-angle-right"></i><span>图片管理</span></a></li>
                <li><a href=""><i class="fa icon-angle-right"></i><span>修改图片</span></a></li>
              </ul> 
            </li>
            <li class="submenu">
              <a class="dropmenu" href="#"><i class="fa icon-edit"></i><span>文章管理</span><span class="label label-important"> 3 </span></a>
              <ul>
                <li><a  href=""><i class="fa icon-angle-right"></i><span>文章管理</span></a></li>
                <li><a  href=""><i class="fa icon-angle-right"></i><span>添加文章</span></a></li>
                <li><a  href=""><i class="fa icon-angle-right"></i><span>修改文章</span></a></li>
              </ul> 
            </li>
            <li class="submenu">
              <a class="dropmenu" href="#"><i class="fa icon-user"></i><span>用户管理</span><span class="label label-important"> 3 </span></a>
              <ul>
                <li><a  href=""><i class="fa icon-angle-right"></i><span>用户列表</span></a></li>
                <li><a  href=""><i class="fa icon-angle-right"></i><span>用户添加</span></a></li>
                <li><a  href=""><i class="fa icon-angle-right"></i><span>修改文章</span></a></li>
              </ul> 
            </li>

            <li class="submenu">
              <a class="dropmenu" href="#"><i class="fa icon-cogs"></i><span>系统管理</span><span class="label label-important"> 3 </span></a>
              <ul>
                <li><a href=""><i class="fa icon-angle-right"></i><span>栏目管理</span></a></li>
                <li><a  href=""><i class="fa icon-angle-right"></i><span>管理员管理</span></a></li>
                <li><a  href=""><i class="fa icon-angle-right"></i><span>修改密码</span></a></li>
              </ul> 
            </li>


          </ul>
        </div>
      </div>