*{
	margin: 0; padding:0;
}
p{font-size: 15px;}
ul{list-style: none;}
a{text-decoration: none;color:#fff;}
a:hover{text-decoration: none;color:#fff;}
.fa{margin-left: 10px;margin-right: 10px;}
.fa1{margin-left: 10px;margin-right: 5px;}
.arrow{margin-right:20px;float: right; margin-top: 17px;}
.right{float: right;}
.left{float: left;}