<include file="Public:header"/>
      	<div class="container-fluid-full">
		<div class="row-fluid">
		   <include file="Public:slider"/>
           <div class="right content">
                <div class="right-menu">
                	<p class="left"><i class="fa1 icon-home"></i>首页<i class="fa icon-angle-right"></i>password</p>
                	<p class="right right-d2">2015-8-13 星期四</p>
                </div>
                <div class="main">
                <div class="panel panel-default">
                     <div class="panel-heading">
					      <h3 class="panel-title">
					          <i class="fa   icon-edit"></i>
					          修改密码
					      </h3>
					 </div>
					  <form class="form-horizontal" role="form">
                              <div class="form-group">
                                 <label class="control-label col-sm-2 control2" for="old">*旧密码：</label>
                                 <input class="form-control control3" type="password" name="old" id="old" placeholder="请填写旧密码"/>
                              </div>
                               <div class="form-group">
                                 <label class="control-label col-sm-2 control4" for="new">*新密码：</label>
                                 <input class="form-control control3" type="password" name="old" id="old" placeholder="请填写旧密码"/>
                              </div>
                              <div class="form-group">
                                 <label class="control-label col-sm-2 control4" for="comfirm">*新密码：</label>
                                 <input class="form-control control3" type="password" name="comfirm" id="comfirm" placeholder="请填写确认密码"/>
                              </div>
                             <button class="btn btn-primary" style="margin-left:250px;margin-bottom:20px;" type="submit">确认修改</button>
					 </form>
			   </div>
			   </div>
           </div>
		</div>
		</div>
<include file="Public:footer"/>